<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link th:href="@{/css/basic.css?ver=230327}" rel="stylesheet">
<link th:href="@{/css/items.css?ver=230327}" rel="stylesheet">

<body>

<div class="wrapper">
    <div class="header">
        <img class="muji-log" src="/icons/MUJI_logo.svg">
        <div class="title">
            <h3>무인양품 김포점 v.Beta</h3>
        </div>
    </div>

    <div class="category">
        <a th:href="@{/items}">프라이스카드</a>
        <a th:href="@{/foodExpiry}">유통기한</a>
        <a th:href="@{/article}">게시판</a>
        <a th:href="@{/notice}">공지</a>
    </div>

    <div class="container" layout:fragment="content">



    </div>

    <div class="footer">
        <p>All Right Reserved By MUJI Korea</p>
    </div>
</div>


</body>
</html>