<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>무인양품 김포점</title>
</head>

<style>
    .picachu_construction_image{

    }

</style>

<body>

<div class="container" layout:fragment="content">
    <h2>유통기한 coming soon '_ '</h2>
    <img src="/images/pikachu_construction.gif" class="picachu_construction_image">
</div>




</body>
</html>