<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en"><head>
    <meta charset="UTF-8">
  <title>무인양품 김포점</title>
</head>
<body>

<div class="container" layout:fragment="content">
  <div class="notice">
    <div>
      <h4>공지</h4>
      <p>모바일 버전 미적용 !!</p>
    </div>
    <div>
      <h4>업데이트 예정</h4>
      <P>검색기능 (이름, 잔코드, 수입 품번)</P>
      <P>저장 기능(자주 사용하는 제품 리스트 저장 및 불러오기)</P>
      <p>모바일 반응형</p>
    </div>
  </div>
</div>

</body>
</html>