<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>무인양품 김포점 Price Card beta</title>
</head>

<body>

<div class="container" layout:fragment="content">

    <div class="description">
        <h2>사용법</h2>
        <p>잔코드를 입력 후 추가 버튼을 눌러주세요. 총 33개까지 생성할 수 있습니다. 삭제를 원할 경우 프라이스 카드를 클릭해 주세요.</p>
    </div>

    <div class="jan-code-input" style="page-break-after: always">
        <label>JAN 입력
            <input type="text" id="serial_input" >
            <button type="button" id="add_item_btn">추가</button>
        </label>
        <div class="item-counting">
            <div class="theNumberOfMin"></div><span>/</span><div class="theNumberOfMax">33</div>
        </div>
    </div>

    <div class="item-box-wrapper" style="page-break-after: avoid">

    </div>

</div>


</body>
</html>