<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">


<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <style>

    </style>
</head>
<body >
<div class="container" layout:fragment="content">

    <div class="row justify-content-center align-content-center">
        <form th:action="@{/user}" method="POST">
            <!-- 토큰을 추가하여 CSRF 공격 방지 -->
            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
            <div class="mb-3">
                <label class="form-label ">ID</label>
                <input type="text" class="form-control id" name="userId" id="userId">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control email" name="email" id="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Nick Name</label>
                <input type="text" class="form-control nickName" name="nickName" id="nickName">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control password" name="password" id="password">
            </div>

            <button type="button" class="btn btn-primary signup-btn">Submit</button>
        </form>
    </div>

    <script layout:fragment="script" th:inline="javascript">

        const error = [[${error}]]
        console.log(error)

        const $signupBtn = document.querySelector('.signup-btn')


        if (error && error === 'userId'){
            alert("동일한 ID를 가진 계정이 존재합니다.")
        }

        if($signupBtn){
            $signupBtn.addEventListener('click', () => {

                console.log("clicking1 ----")
                const $userId = document.getElementById('userId').value
                const $nickName = document.getElementById('nickName').value
                const $email = document.getElementById('email').value
                const $password = document.getElementById('password').value

                if (!$userId || !$nickName || !$email || !$password){
                    alert('ID를 입력해 주세요.')
                    return;
                }
            })
        }


        $signupBtn.addEventListener('click', (e) => {
            e.preventDefault();
            console.log("clicking")

            const $id = document.querySelector('.id')
            const $email = document.querySelector('.email')
            const $nickName = document.querySelector('.nickName')
            const $password = document.querySelector('.password')

            console.log($id)
            console.log($email)
            console.log($nickName)
            console.log($password)

        })

    </script>


</div>


</body>
</html>