<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/basic.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <h1>회원 정보 수정</h1>
    <div>
    </div>
    <div>
        <div>
            [[${#authentication.principal.userId}]]
        </div>
        <div class="socialImg">
            <img th:src="${#authentication.principal.socialImg}">
        </div>
        <label>닉네임
            <input name="nickName" type="text" placeholder="닉네임" id="nickName">
        </label>
        <label>비밀번호
            <input name="password" type="password" placeholder="비밀번호" id="password">
        </label>
        <button type="button" class="saveBtn">저장</button>

    </div>

    <script src="/js/user.js"></script>

    <script layout:fragment="script" th:inline="javascript">

        const $auth = [[${#authentication.principal}]]
        const $test = [[${#authentication.principal.socialImg}]]

        console.log($auth)
        console.log($test)

        console.log([[${request}]])
        console.log([[${response}]])



    </script>
</div>

</body>
</html>