
html{
    height: 100%
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

}

.footer{
    padding : 30px 0;
    margin-top: auto;
}

.header{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.title{
    font-size: 2.4em;
    justify-content: center;
    display: flex;
}

.loginNLogout-div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 7px 0;
}

.main-log{
    width: 100px;
    height: 100px;
}


.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 390px;
    margin: 30px 0px;
    font-size: 1.5em;
}

.create-article-btn{
    margin-left: 20px;
}

.title a{
    color: lightslategray;
    font-weight: 600;
    font-size: 2em;
}