
/*html{*/
/*    height: 100%*/
/*}*/

/*body{*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*a{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*.wrapper{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh;*/
/*    align-items: center;*/

/*}*/

/*.footer{*/
/*    padding : 30px 0;*/
/*    margin-top: auto;*/
/*}*/

<<<<<<< HEAD
.header{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.title{
    font-size: 2.4em;
    justify-content: center;
    display: flex;
}

.loginNLogout-div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 7px 0;
}
=======
/*.header{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
>>>>>>> 8bd37b6c8c92957c1a2818e65d2ed97ba8f51d8d

/*.muji-log{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

<<<<<<< HEAD

.category{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 390px;
    margin: 30px 0px;
    font-size: 1.5em;
}

.create-article-btn{
    margin-left: 20px;
}

.title a{
    color: lightslategray;
    font-weight: 600;
    font-size: 2em;
}
=======
/*.title{*/
/*    margin-left: 20px;*/
/*}*/

/*.category{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    width: 390px;*/
/*    margin: 30px 0px;*/
/*}*/

>>>>>>> 8bd37b6c8c92957c1a2818e65d2ed97ba8f51d8d
