<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>무인양품 김포점 Price Card beta</title>
</head>

<style>

    .item-box{
        width: 300px;
        border: 1px solid black;
        cursor: grab;
    }

    .item-counting{
        display: flex;
    }


</style>

<body>

<div class="wrapper">
    <div class="header">

    </div>

    <div class="container">

        <label>잔코드
            <input type="text" id="serial_input" >
            <button type="button" id="add_item_btn">추가</button>
        </label>
        <div class="item-counting">
            <div class="theNumberOfMin"></div><span>/</span><div class="theNumberOfMax">33</div>
        </div>

        <div class="item-box-wrapper">

        </div>

    </div>

    <div class="footer">

    </div>
</div>

<script src="/js/item.js"></script>
</body>
</html>